@import "tailwindcss";

@theme {
  --color-primary: #8A2BE2; /* Pi LjubiÄasta */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}